.stApp {
    background-color: #ECECEC;
}

.stApp > tabs {
    border: 1px solid black;
}

.stApp > header {
    background-color: orange;
}

.stTabs {
    border: 2px solid black;
}

body {
    background: #ECECEC;
}

